.popup__input {
    width: 358px;
    height: 27px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
}

.popup__input:nth-child(2n) {
    margin-top: 30px;
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .popup__input {
        width: 238px;
    }
}