.popup__container {
    width: 430px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 37px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        margin: 0px 19px;
        width: 282px;
        padding-bottom: 25px;
    }
}