.button_type_save {
    background: #000000;
    border-radius: 5px;
    width: 358px;
    height: 50px;
    margin-top: 48px;
}

.button_type_save:hover {
    opacity: 0.8;
}

.button_type_save_disabled {
    opacity: .2;
    color: black;
    background-color: white;
    border: 1px solid black;
}

@media screen and (max-width: 767px) {
    .button_type_save {
        width: 238px;
        height: 46px;
    }
}