.elements {  
    display: grid;
    max-width: 880px;
    margin: 51px auto 0px;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .elements {
        margin: 36px auto 0px;
        gap: 0px;
    }
}