.profile__status {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 480px;
}

@media screen and (max-width: 880px) {
    .profile__status {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        max-width: 220px;
    }
}