@import url(../vendor/normalize.css);

@import url(../fonts/fonts.css);

@import url(../blocks/body/body.css);

@import url(../blocks/button/button.css);
@import url(../blocks/button/_type/button_type_add.css);
@import url(../blocks/button/_type/button_type_edit.css);
@import url(../blocks/button/_type/button_type_like.css);
@import url(../blocks/button/_type/button_type_save.css);
@import url(../blocks/button/_type/button_type_close.css);

@import url(../blocks/content/content.css);

@import url(../blocks/elements/elements.css);

@import url(../blocks/element/element.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__text/element__text.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__title/popup__title.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__status/profile__status.css);
