.button_type_save {
    background: #000000;
    border-radius: 5px;
    width: 358px;
    height: 50px;
    margin-top: 48px;
}

.button_type_save:hover {
    opacity: 0.8;
}

.button_type_save:disabled {
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
    background-color: white;
    cursor: n-resize;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .button_type_save {
        width: 238px;
        height: 46px;
    }
}